Repository 371bohdan/online_store, pull requests merged in 2025-03, with the labels that each got.

#26 Finished LUM Sprint 7 (Petsa)
  package-lock.json
  package.json
  src/api/controllers/userSelfAccessController.ts
  src/api/dto/OrderDTO.ts
  src/api/dto/UserDTO.ts
  src/api/errors/auth/UnauthorizedError.ts
  src/api/middleware/errors/errorHandler.ts
  src/api/routes/authRoute.ts
  src/api/routes/cartRoute.ts
  src/api/routes/orderRoute.ts
  src/api/routes/productRoute.ts
  src/api/routes/userRoute.ts
  src/api/routes/userSelfAccessRoute.ts
  src/api/services/auxiliary/swaggerService.ts
  src/api/services/orderService.ts
  src/api/services/userSelfAccessService.ts
  src/app.ts
  src/config/dotenv/env.ts
  src/config/swagger/swaggerOptions.ts
  src/config/winston/winstonConfig.ts
Labels: Prev-prod, finished

#27 Moving the current version to 'prod'
  package-lock.json
  package.json
  src/api/controllers/userSelfAccessController.ts
  src/api/dto/OrderDTO.ts
  src/api/dto/UserDTO.ts
  src/api/errors/auth/UnauthorizedError.ts
  src/api/middleware/errors/errorHandler.ts
  src/api/routes/authRoute.ts
  src/api/routes/cartRoute.ts
  src/api/routes/orderRoute.ts
  src/api/routes/productRoute.ts
  src/api/routes/userRoute.ts
  src/api/routes/userSelfAccessRoute.ts
  src/api/services/auxiliary/swaggerService.ts
  src/api/services/orderService.ts
  src/api/services/userSelfAccessService.ts
  src/app.ts
  src/config/dotenv/env.ts
  src/config/swagger/swaggerOptions.ts
  src/config/winston/winstonConfig.ts
Labels: Prod, Prev-prod, update

#28 Finished LUM Sprint 8 (Petsa)
  package-lock.json
  package.json
  src/api/controllers/cartController.ts
  src/api/controllers/genericCrudController.ts
  src/api/controllers/orderController.ts
  src/api/controllers/productController.ts
  src/api/controllers/userSelfAccessController.ts
  src/api/dto/CartDTO.ts
  src/api/dto/OrderDTO.ts
  src/api/errors/general/NotFoundError.ts
  src/api/middleware/auth/requireAdminOrOwnerRole.ts
  src/api/middleware/auth/requireAuth.ts
  src/api/middleware/auth/requireOwnerRole.ts
  src/api/models/carts.ts
  src/api/models/enums/paymentMethods.ts
  src/api/models/orders.ts
  src/api/models/users.ts
  src/api/routes/authRoute.ts
  src/api/routes/cartRoute.ts
  src/api/routes/genericCrudRoute.ts
  src/api/routes/orderRoute.ts
  src/api/routes/userSelfAccessRoute.ts
  src/api/services/authService.ts
  src/api/services/auxiliary/mailOrder.ts
  src/api/services/auxiliary/mailService.ts
  src/api/services/cartService.ts
  src/api/services/genericCrudService.ts
  src/api/services/orderService.ts
  src/api/services/productService.ts
  src/api/services/userSelfAccessService.ts
  src/app.ts
  src/config/dotenv/env.ts
  src/config/mail/mailController.ts
  src/config/mail/mailService.ts
  src/config/passport/passportConfig.ts
  src/config/stripe/stripeController.ts
  src/config/stripe/stripeRoute.ts
  src/config/stripe/stripeService.ts
  src/config/supabase/supabaseUtils.ts
  src/config/swagger/swaggerOptions.ts
  src/config/swagger/swaggerService.ts
Labels: Prev-prod, finished

#29 Moving the current version to 'prod'
  package-lock.json
  package.json
  src/api/controllers/authController.ts
  src/api/controllers/cartController.ts
  src/api/controllers/genericCrudController.ts
  src/api/controllers/orderController.ts
  src/api/controllers/productController.ts
  src/api/controllers/userSelfAccessController.ts
  src/api/dto/CartDTO.ts
  src/api/dto/OrderDTO.ts
  src/api/errors/general/NotFoundError.ts
  src/api/middleware/auth/requireAdminOrOwnerRole.ts
  src/api/middleware/auth/requireAuth.ts
  src/api/middleware/auth/requireOwnerRole.ts
  src/api/middleware/errors/errorHandler.ts
  src/api/models/carts.ts
  src/api/models/enums/paymentMethods.ts
  src/api/models/orders.ts
  src/api/models/users.ts
  src/api/routes/authRoute.ts
  src/api/routes/cartRoute.ts
  src/api/routes/genericCrudRoute.ts
  src/api/routes/orderRoute.ts
  src/api/routes/userSelfAccessRoute.ts
  src/api/services/authService.ts
  src/api/services/auxiliary/mailOrder.ts
  src/api/services/auxiliary/mailService.ts
  src/api/services/cartService.ts
  src/api/services/genericCrudService.ts
  src/api/services/orderService.ts
  src/api/services/productService.ts
  src/api/services/userSelfAccessService.ts
  src/app.ts
  src/config/dotenv/env.ts
  src/config/mail/mailController.ts
  src/config/mail/mailService.ts
  src/config/morgan/morganMiddleware.ts
  src/config/stripe/stripeController.ts
  src/config/stripe/stripeRoute.ts
  src/config/stripe/stripeService.ts
  src/config/supabase/supabaseUtils.ts
  src/config/swagger/swaggerOptions.ts
  src/config/swagger/swaggerService.ts
  src/config/winston/winstonConfig.ts
Labels: Prod, Prev-prod, update

#30 Synchronisation 'prod' -> 'dev-Petsa'
  package-lock.json
  package.json
  src/api/controllers/authController.ts
  src/api/middleware/errors/errorHandler.ts
  src/api/routes/authRoute.ts
  src/api/services/authService.ts
  src/api/services/orderService.ts
  src/app.ts
  src/config/morgan/morganMiddleware.ts
  src/config/passport/passportConfig.ts
  src/config/stripe/stripeService.ts
  src/config/winston/winstonConfig.ts
Labels: Sync, Prod

#31 Big update Order, features ets
  .gitignore
  package-lock.json
  package.json
  src/api/controllers/authController.ts
  src/api/controllers/cartController.ts
  src/api/controllers/genericCrudController.ts
  src/api/controllers/orderController.ts
  src/api/controllers/productController.ts
  src/api/controllers/userConroller.ts
  src/api/controllers/userSelfAccessController.ts
  src/api/dto/CartDTO.ts
  src/api/dto/OrderDTO.ts
  src/api/dto/UserDTO.ts
  src/api/errors/ErrorResponse.ts
  src/api/errors/auth/ActivationCodeExpiredError.ts
  src/api/errors/auth/UnauthorizedError.ts
  src/api/errors/general/NotFoundError.ts
  src/api/middleware/auth/requireAdminOrOwnerRole.ts
  src/api/middleware/auth/requireAuth.ts
  src/api/middleware/auth/requireOwnerRole.ts
  src/api/middleware/errors/errorHandler.ts
  src/api/models/carts.ts
  src/api/models/enums/orderStatusesEnum.ts
  src/api/models/enums/paymentMethods.ts
  src/api/models/orders.ts
  src/api/models/users.ts
  src/api/routes/authRoute.ts
  src/api/routes/cartRoute.ts
  src/api/routes/genericCrudRoute.ts
  src/api/routes/orderRoute.ts
  src/api/routes/productRoute.ts
  src/api/routes/userRoute.ts
  src/api/routes/userSelfAccessRoute.ts
  src/api/services/authService.ts
  src/api/services/auxiliary/jwtService.ts
  src/api/services/auxiliary/mailOrder.ts
  src/api/services/auxiliary/mailService.ts
  src/api/services/cartService.ts
  src/api/services/genericCrudService.ts
  src/api/services/orderService.ts
  src/api/services/productService.ts
  src/api/services/userSelfAccessService.ts
  src/api/services/userService.ts
  src/app.ts
  src/config/dotenv/env.ts
  src/config/mail/mailController.ts
  src/config/mail/mailService.ts
  src/config/morgan/morganMiddleware.ts
  src/config/stripe/stripeController.ts
  src/config/stripe/stripeRoute.ts
  src/config/stripe/stripeService.ts
  src/config/supabase/supabaseUtils.ts
  src/config/swagger/swaggerOptions.ts
  src/config/swagger/swaggerService.ts
  src/config/winston/winstonConfig.ts
Labels: bug, update

#32 Updating the 'prev-prod' branch (Lum Sprint 9)
  src/api/controllers/userSelfAccessController.ts
  src/api/dto/OrderDTO.ts
  src/api/dto/UserDTO.ts
  src/api/models/orders.ts
  src/api/models/users.ts
  src/api/routes/orderRoute.ts
  src/api/routes/userSelfAccessRoute.ts
  src/api/services/authService.ts
  src/api/services/orderService.ts
  src/api/services/userSelfAccessService.ts
  src/api/services/userService.ts
  src/config/swagger/swaggerOptions.ts
Labels: enhancement, Prev-prod, LUM Sprint 9
